*body {margin: 0;}



/*-----NAVIGATION-----*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    overflow: auto;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

/*------LOGO-----*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-----INTRODUCTION-----*/
.img3 {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Graduate', cursive;
}

.h1centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.pcentered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

/*-----CONTENT-----*/
h1 {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    margin-left: 30px;
}

.category {
    font: 30px;
    letter-spacing: 2px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    margin-left: 30px;
}

.rectangle {
    background-color: grey;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 15px 20px 15px 20px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    height: 100px;
    width: 200px;
    
    margin: 70px 0px 70px ;
}

.spacing {
    line-height: 50%;
}

.space {
    line-height: 10px;
}
/*------MIDDLE COLUMN-----*/

.h2middle {
    margin: 70px 0px 0px 0px;
    font-family: 'Graduate', cursive;
}
.button {
    background-color: red;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    border: none;
}


/*-----ROW-----*/
.column {
    float: left;
    padding: 10px;
    height: 320px;
    
}

.left, .right {
    width: 22%;
}

.middle {
    width: 45%;
}

.row {
    margin: 0px 0px 0px 70px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}


/*-----IMAGE------*/
.tour {
    display: block;
    padding: 70px 20px 70px 0px;
    
}

/*-----EQUIPEMENT-----*/
.tableheading {
    text-align: center;
    font-weight: bold;  
    
}

/*-----TABLE-----*/
table, tr,td {
    border: 2px solid grey;
    border-collapse: collapse;
    padding: 5px;
    font-family: 'Graduate', cursive;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

tr:nth-child(even) {
    background-color: grey;
    color: white;
    
}

/*-----FOOTER-----*/
.footer {
    font-size: 10px;
    background-color: grey;
    padding: 14px 16px;
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

